<div class="container px-5 px-sm-0">
  <div class="row">
    <%= flash[:notice] %>

  <% if @user.errors.any? %>
    <%= @user.errors.count %>error prohibited this obj from being saved:<br>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>

      <div class="d-flex flex-column align-items-center justify-content-center ">
        <div>
        <h1>User info</h1>
        <%= form_with model: @user do |f| %>
          <label>Name</label><br>
          <%= f.text_field :name %><br>
          <label>Image</label><br>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  <br>

          <label>Introduction</label><br>
          <%= f.text_area :introduction %><br>
          <%= f.submit 'Update User', class:"btn btn-secondary" %>
        <% end %>
        </div>
      </div>