<div class="container px-5 px-sm-0">
  <div class="row">
    <%= flash[:notice] %>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:<br>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


</div>

    <div class="d-flex flex-column align-items-center justify-content-center ">
      <div>
          <h1>Editing Book</h1>
          <%= form_with model: @book do |f| %>
            <h4>Title</h4><br>
            <%= f.text_field :title %><br>
            <h4>Opinion</h4><br>
            <%= f.text_area :body %><br>
            <%= f.submit 'Update Book', class:"btn btn-success" %>
          <% end %>
        <%= link_to "Show", book_path(@book.id)%>
        |
        <%= link_to "Back", "/books" %>
      </div>
    </div>
  </div>